<?php

define('DB_DSN','mysql:host=localhost;dbname=testflocklight');
define('DB_USERNAME','flocklight');
define('DB_PASSWORD','password');

/** This twitter app should be read-only **/
define('TWITTER_APP_KEY',null);
define('TWITTER_APP_SECRET',null);

define('HTTP_HOST','localhost');


$searchTerms = array('#chscot');



