<html>
	<head>
		<title>Flocklight</title>
		<link rel="stylesheet" type="text/css" href="main.css" />
	</head>
	<body>
		<div id="pageWrapper">
			<div id="header">
				<h1><a href="/">Flocklight</a> on {$eventName|escape}</h1>
				<ul class="menu">
					<li><a href="/">Who's here?</a></li>
					<li><a href="/wordUse.php">Word Usage</a></li>
				</ul>
				<div id="user">
					{if $userID}
						Welcome {$userScreenName|escape}
						<a href="/user.php?id={$userScreenName|escape:'url'}">About you</a>
						<a href="/logout.php">logout</a>
						<img src="{$userProfileImageURL}" class="twitterAvatar">
					{else}
						<a href="/login.php">login</a>
					{/if}
				</div>
			</div>
			<div id="body">
				{block name="topContent"}{/block}
				{block name="content"}{/block}
			</div>
			<div id="footer">
				Flocklight is <a href="https://github.com/jarofgreen/flocklight">Open Source</a>
			</div>
		</div>
	</body>
</html>