
{extends file="userPage.htm"} 

{block name="content"}

	<h2>they tweeted</h2>

	<ul>
		{while $userInList=$searchUsers->nextResult()}
			<li>
				<img src="{$userInList->getProfileImageURL()}" class="twitterAvatar">
				<a href="/user.php?id={$userInList->getUserName()|escape:'url'}">{$userInList->getUserName()|escape}</a>
				<a class="relationship" href="/relationshipBetween.php?id1={$userInList->getUserName()|escape:'url'}&id2={$user->getUserName()|escape:'url'}">relationship</a>
			</li>
		{/while}
	</ul>
	
{/block}
